*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
}
.header{
    background-image: url(/imgs/header.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    filter: brightness(0.5);
   
 
}
.navigation img{
    width: 33px;
    margin-top: 3vh;
    margin-left: 30vh;
}
body{
    background-color: rgb(50, 49, 49);
    color: white;
}
.navigation{
  width: 100%;
  color: white;
  margin-left: 20px;

  height: 10vh;

}
.navigation a{
    color: white;
    font-size: 1.6rem;
margin-left: 180px;
margin-top: 20vh;
transition: all 0.6s linear;
}
.navigation a:hover{
    color: rgb(0, 26, 255);
}
.navigation i{
    margin-left: 200px;
margin-top: 15px;

}
.logo{
    color: white;
    z-index: -1;
}
.logo h2{
    color: white;
    text-align: center;
    margin-top: 30vh;
    font-size: 3.5rem;
    letter-spacing: 3px;
}
.logo p{
    text-align: center;
    margin-top: 15px;
}
.header b{
    display: none;
}
.cotainer{
    max-width: 90%;
    margin: 0 auto;
}
.logo button{
    margin-left: 100vh;
    padding: 10px 20px;
    border: 1px solid white;
margin-top: 30px;
    border-radius: 30px;
background: 0;
    color: white;
}
.excuture .item{
    filter: brightness(0.5);
}
.explor{
    width:120vh;
    text-align: center;
    margin: 0 auto;
}
.explor h2{
    margin-top: 40px;
    font-size: 2rem;
}
.excuture b{
    margin-top: 300px;
}

.excuture{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    text-align: center;
    margin-top: 12vh;
    gap: 4rem;
}
.excuture h3{
    font-size: 1.9rem;
    margin-top: 47vh;
}

.excuture .item .ilon{
    border: 2px solid white;
    width: 100%;
    height: 100vh;
    transition: 0.6s linear;
    
}
.excuture .item .ilon:hover{
   margin-top: -11rem;
    transition: 0.6s linear;
}

.excuture .item{
    border: 1px solid white;
    width: 100%;
    height: 60vh;
    overflow: hidden;
   background-image: url(/imgs/img-2.jpg);
   background-size: 100% 100%;
}
.excuture .item:first-of-type{
    background-image: url(/imgs/img-1.jpg);
    background-size: 100% 100%;  
}
.excuture .item:last-of-type{
    background-image: url(/imgs/img-3.jpg);
    background-size: 100% 100%;  
}
.excuture p{
    margin-top: 5vh;

}
.journal{
    text-align: center;
    margin-top: 10vh;
    margin: 0 auto;
    width: 100vh;
}
.journal p{
    font-weight: 100;
    opacity: 0.7;
}
.journal h2{
    font-size: 2.3rem;
    margin-top: 20px;
}
.marketing{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;

}
.marketing img{
    width: 80vh;
}
.marketing i{
    margin-left: 35vh;
    margin-top: 10px;
}
.marketing h3{
    margin-left: 30vh;
    margin-top: 5px;
    font-size: 1.9rem;
    font-weight: 200;
}
.marketing p{
    text-align: center;
    margin-top: 8px;
   
}
.marketing .item{
    width: 80vh;
    margin-top: 20px;
}
.home{
    background-image: url(/imgs/footer.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 90vh;
    opacity: 0.7;
}
.ayst{
    text-align: center;
 margin-top: 10vh;  
 width: 100%;
 height: 23vh;
}
.ayst p{
    font-size: 1rem;
}
.ayst h3{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 10vh;
}
.inpud{
    margin-top: 5vh;
    display: grid;
    align-items: center;

}
.inpud input{
    width: 60%;
    background: 0;
    font-size: 1.8rem;
    border: 1px solid white;
    margin: 0 auto;
    height: 8vh;
    margin-top: 10px    ;
}
.inpud input:first-of-type{
height: 8vh;
}
.inpud input:last-of-type{

    height: 12vh;
}
.inpud button{
    width: 60%;
    margin: 0 auto;
    height: 6vh;
    font-size: 1.4rem;
    background: 0;
    border: 1px solid  white;
    margin-top: 10px;
    color: white;
}
.nav__logo{
    margin-top: 3vh;
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 0.7rem;
}